<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <!-- icon library: for login/logout icon-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <h1>TinyApp</h1>

  <% if(user.email){ %>
    <p><h3>Logged In As: <%= user.email%></h3></p>
    <form class="form-inline" action="/logout" method="POST">
      <div class="form-group mb-2">
        <button type="submit" class="btn btn-primary"><i class="fa fa-sign-out"></i>  Logout</button>
      </div>
    </form>
  <% }else{ %>
    <form class="form-inline" action="/login" method="POST">
        <div class="form-group mb-2">
          <label for="username">User:</label>
          <input class="form-control" type="text" name="username" placeholder="Username here" style="width: 300px; margin: 1em">
          <button type="submit" class="btn btn-primary"><i class="fa fa-address-book"></i>  Log In</button>
        </div>
    </form>
  <% } %>
</body>
</html>