<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URLs-TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <% include partials/_header %>
    <a href="#">Create New TinyURL</a>

    <p>
      <h2>My URLs</h2>

      <% if(urls){%>
        <% for(var shorturl in urls){ %>
          <li>
            <strong><%= shorturl %></strong>
            :
            <%= urls[shorturl] %>
            <form method="POST" action="/urls/<%= shorturl %>/delete">
              <button type="submit" class="btn btn-primary">Delete!!!
              </button>
            </form>
          </li>
        <% }%>
      <% }%>

    </p>

</body>
</html>