<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>URL-TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <% include partials/_header %>
    <a href="#">Create New TinyURL</a>

    <p>
      <h2>TinyURL for <%= longURL %></h2>
      <h4><%= shortURL %></h4>
      <form class="form-inline" action="/urls/<%= shortURL %>" method="POST">
      <div class="form-group mb-2">
        <label for="newLongURL">Edit URL:</label>
        <input class="form-control" type="text" name="newLongURL" placeholder=<%= longURL %> style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
    </p>

</body>
</html>